@model Assignment_NET105_Nhom3_Shared.ViewModels.ProductDetailsViewModels_Show

@{
    ViewData["Title"] = "Detail";
}


<div class="container giaban">
    <h6>Trang chủ > Áo hoodie > Outerity Hoodie Newfont>></h6>
    <hr style="border: 2px solid orangered;">
</div>
<form method="post">
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-5">
            <div class="thumbnail">
                <a href="">
                    <img src="/Images/@Model.Image" alt="Lights" style="width:100%">
                </a>              
            </div>
        </div>
        <div class="col-md-7 ">
            <div class="content1_detail">
                <h2>@Model.ProductName</h2>
                <div class="row">
                    <div class="col-md-3"><img src="Image/rating.png" alt=""></div>
                    <div class="col-md-3"> <h5>400 Đánh giá</h5></div>
                    <div class="col-md-3"><h5>2K Đã bán </h5></div>
                </div>
                @*                    <div class="row">
                    <div class="col-md-6 giaban">
                    <center><h1 style="color: red;">168.000 đ </h1> </center>
                    </div>

                    </div>*@
                <div class="row">
                    <div class="col-md-10">
                        <div class="Mausac">
                            <h5>Giá bán: @Model.Price đ</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="Mausac">
                            <h5>Thể loại : @Model.CategoryName</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="Mausac">
                            <h5>Màu sắc : @Model.ColorName</h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="Mausac">
                            <h5>Size:    @Model.SizeName</h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="Mausac">
                            <h5>Số lượng : @Model.AvaiableQuatity</h5>
                        </div>
                    </div>
                </div>
                <div>
                        <a href="@Url.Action("UpdateProductDetail","Management",new{ Id= @Model.Id})"><button type="button" class="btn btn-warning btn_size2">Edit</button></a>
                    <button type="button" class="btn btn-success btn_size2">Buy now</button>
                </div>
            </div>
        </div>
    </div>

</div>
</form>


